.gallery {
    &__wrap {

    }

    &__img {
        display: inline-block;
        min-height: 100%;

        @include support(object-fit, cover) {
            width: 100%;
            object-fit: cover;
        }

    }
}