$theme-name: 'theme_cold';

//common
$primary-text: #fdfdfd;
$primary-fill: #161616;
$secondary-fill: #F1F2F4;
$link-default: #e44f36;
$primary-title: #fff;
$secondary-title: #fff;
$primary-title-decor: #7d90a9;
$secondary-title-decor: #e44f36;
$comments-fill: #f5f3f9;

//header
$header-bg: #fff;
$header-bd: 1px solid #EDF2F5;
$header-color: #fdfdfd;
$header-color-hov: #DE8159;

//popup
$popup-close-btn: #FDFDFD;
$popup-close-btn-hov: #DE8159;

//footer
$footer-bg: #161616;
$footer-bd: #DE8159;
