mixin banner()
    .banner
        .banner__wrap
            .w-center
                .banner__text-wrap
                    .banner__text
                        .banner__image-text-title Delight in Every Bite
                        p.banner__image-text-subtitle A true culinary masterpiece with a medallion and fresh vegetables — a perfect blend of elegance and natural flavors. Discover the ideal harmony of tastes that will capture your heart.
                    .banner__text-img
                        img(src="static/img/content/banner-img.png" alt="")