mixin banner()
    .banner
        .banner__wrap
            .w-center
                .banner__text-wrap
                    .banner__text
                        .banner__image-text-title Cook with pleasure
                        p.banner__image-text-subtitle Our school is for those who want to cook with ease. You will learn how to choose and combine different products, master the culinary techniques and technologies behind most recipes, and figure out the flavor combinations of ingredients.
                    .banner__text-img
                        img(src="static/img/content/banner-img.png" alt="")