mixin footer()
    footer#contacts.footer
        .msg-wrap
            .msg(onclick="gsapMsg.reverse()")
        .w-center
            .footer__wrap
                .footer__item.footer__item-logo
                    .footer__logo-wrap
                        a(href="#")
                            img(src="static/img/content/logo.svg" alt="")
                        p.footer__logo-text No matter what you’re up to, cooking gives your life PERFECT TASTE! Stay in touch.

                .footer__items
                    .footer__item
                        .footer__item-wrap
                            .footer__item-title Menu
                            ul.footer__item-list.footer__item-list_menu
                                li
                                    a(href="/") Home
                                li
                                    a(href="#dishes") Best dishes
                                li
                                    a(href="#gallery") Gallery
                                li
                                    a(href="#about") About Us
                    .footer__item
                        .footer__item-wrap
                            .footer__item-title Contacts
                            ul.footer__item-list
                                li
                                    a(href="tel:+380638232524") +380638232524
                                li
                                    a(href="mailto:uriyderechey@gmail.com") uriyderechey@gmail.com
                                li Kyiv