extends _page-template

block content
    | <!-- skin 1 -->

    .w-inner.w-gap-sm
        #main
            +banner
        .w-gap-md
            .decorated-title Master the power of taste
            .w-center
                .decorated-subtitle No matter what you’re up to, cooking gives your life PERFECT TASTE!  Stay in touch.
                +videobox
        .w-gap-md

            #courses.decorated-title.decorated-title-second.active Sign up for our recent classes
        .w-center
            .card
                .card__wrap
                    .card__image
                        img(src="static/img/content/card1.jpg" alt="")
                    .card__wrapper
                        .card__text-wrap
                            .card__text-title Mediterranean Cuisine
                            .card__text This cuisine combines the cuisines of the Mediterranean region. As part of the course, you will learn how to prepare complex dishes from cereals and moderate amounts of meat and fish, choose the relevant ingredients, in particular vegetables, and familiarize yourself with the rules of a feast traditional for the Mediterranean region.  A unique feature of Mediterranean cuisine is a balanced diet. It is this principle that underlies the famous Mediterranean diet. Having mastered the basics of preparing dishes of this gastronomic direction, you will provide yourself with a wide field for applying such skills. This course is perfect for those who want to lose weight or improve their health and the nutrition of their loved ones. Don't miss the chance to improve your life right now!
                            .card__text-price Cost: 250$
                        .card__text-btn
                            button.btn.popup-btn(type="button") Buy Now
                .card__wrap
                    .card__image
                        img(src="static/img/content/card2.jpg" alt="")
                    .card__wrapper
                        .card__text-wrap
                            .card__text-title English Cuisine
                            .card__text During culinary courses, students will learn to cook English cuisine that is not sophisticated yet pays attention to the quality of ingredients and technology of their production. Students will learn to cook English breakfast and other popular and well-known worldwide meals. We should not forget, for example, that the traditional Sunday Roast Carvery, common in Australia, New Zealand, the United States, and Canada, has its roots in the English cultural tradition. Tasted for centuries: fish and chips, roast with vegetables, roast beef, pudding - can become a stable and hearty diet basement. Emphasize the conservatism of the chef and fidelity to tradition. Impress your family!
                            .card__text-price Cost: 459$
                        .card__text-btn
                            button.btn.popup-btn(type="button") Buy Now

                .card__wrap
                    .card__image
                        img(src="static/img/content/card3.jpg" alt="")
                    .card__wrapper
                        .card__text-wrap
                            .card__text-title Italian Cuisine
                            .card__text Traditional Italian cuisine is known all over the world, thanks to dishes such as pizza and spaghetti. Very diverse and regional, this direction in cooking is rich in its traditional dishes, so it offers a large field for culinary research. Italian cuisine gained its taste with historical processes, spiced with the cultural influence of the Romans, Greeks, Arabs, and other peoples who once inhabited Italy. Immerse yourself in this mix, give free rein to the love of spices, exotic fruits, and vegetables, or cook fish and seafood as only you can. Create your unique recipe and stand out with exceptional culinary skills where tradition leaves much room for creativity!
                            .card__text-price Cost: 759$
                        .card__text-btn
                            button.btn.popup-btn(type="button") Buy Now

                .card__wrap
                    .card__image
                        img(src="static/img/content/card4.jpg" alt="")
                    .card__wrapper
                        .card__text-wrap
                            .card__text-title Asian Cuisine
                            .card__text Rice and noodles are among the staples of Asian cuisine. The abundance of spices, low-fat dishes, and soy products characterize Asian cuisine as a sophisticated one. The most common cooking method is frying in a small amount of hot oil. Another feature of Asian cuisine is that all meals are prepared exclusively from natural products, which are minimally processed while cooked, which allows you to preserve the maximum of vital substances. In addition, Asian cuisine stands out for its extensive use of a variety of seafood. The serving of Asian dishes is also unusual. The colorful presentation deserves a separate study and will create your image of a true gourmet!
                            .card__text-price Cost: 1059$
                        .card__text-btn
                            button.btn.popup-btn(type="button") Buy Now
        .w-gap-md
            #gallery.decorated-title.active Gallery
            +gallery
        .w-gap-md
            #about.decorated-title.active About Us
            .w-center
                .card
                    .card__wrap
                        .card__image.card__second-image
                            img(src="static/img/content/card5.jpg" alt="")
                        .card__wrapper.card__second-text
                            .card__text-wrap
                                .card__text-title We know and share secrets of cooking!
                                p.card__text Prepare culinary masterpieces anywhere in the world, anytime! Our school is a unique opportunity to get a dream profession and increase your value with new special knowledge. Everyone loves to eat well, but not everyone knows how to prepare a tasty, satisfying and healthy dish that deserves attention.
                                p.card__text Well, those who want to master this skill are incredibly lucky. Easy-Cooking classes reveal taste secrets to everyone who needs it. Founded in 2014 by a group of enthusiasts, the amateur gourmet courses are now online! Get the best knowledge that is possible - go on, sign up for our classes!
                                p.card__text Whatever your path in life is, there's always a place for cooking to upgrade it. Try our experienced specialists' lifehacks to bring your life quality to a new level with professional secrets of the best meals creating ever!
                .decorated-title.decorated-title-third Our team
                .image-cards
                    .image-cards__card
                        .image-cards__img
                            img(src="static/img/content/team1.jpg" alt="")
                        .image-cards__txt
                            p Jaylon Kenter
                    .image-cards__card
                        .image-cards__img
                            img(src="static/img/content/team2.jpg" alt="")
                        .image-cards__txt
                            p Leo Lubin
                    .image-cards__card
                        .image-cards__img
                            img(src="static/img/content/team3.jpg" alt="")
                        .image-cards__txt
                            p Jocelyn Stanton
                    .image-cards__card
                        .image-cards__img
                            img(src="static/img/content/team4.jpg" alt="")
                        .image-cards__txt
                            p Marcus Geidt

            .banner
                .banner__wrap
                    .decorated-title Get In Touch
                    .w-center
                        .decorated-subtitle No matter what you’re up to, cooking gives your life PERFECT TASTE! Stay in touch.
                        +form