extends _page-template

block content
    | <!-- skin 1 -->

    .w-inner.w-gap-sm
        #main
            +banner
        .w-gap-md
            .decorated-title Processes
            .w-center
                .decorated-subtitle No matter what you’re up to, cooking gives your life PERFECT TASTE!  Stay in touch.
                +videobox
        .w-gap-md
            #dishes.decorated-title.decorated-title-second.active Finest Flavors of Our Kitchen
        .w-center
            .card
                .card__wrap
                    .card__image
                        img(src="static/img/content/card1.jpg" alt="")
                    .card__wrapper
                        .card__text-wrap
                            .card__text-title Paella – The Taste of Spain
                            .card__text Paella is the soul of Spanish cuisine, originating from Valencia, a city where this dish has become a symbol of local tradition and culture. The main ingredient in paella is rice, which is cooked with various additions such as seafood, chicken, and vegetables. To enhance its aroma and color, saffron is added, giving the rice a golden hue and a subtle yet recognizable fragrance.
                            .w-gap
                            .card__text Paella is served in a large pan, inviting guests to eat directly from it, creating a sense of unity and camaraderie. This is a dish that brings people together, as in Spain it is often prepared for large celebrations, family gatherings, and even street festivals. Paella reflects the richness of Spanish culinary heritage and can transport you to the sunny shores of Valencia with its look and aroma alone.
                .card__wrap
                    .card__image
                        img(src="static/img/content/card2.jpg" alt="")
                    .card__wrapper
                        .card__text-wrap
                            .card__text-title French Croissant – A Classic Delight
                            .card__text The French croissant has become a symbol of French culinary culture. It boasts a delightful crispy outer layer and a tender, buttery taste inside. Making croissants is a true art that requires patience and skill: the dough is rolled and folded multiple times, creating hundreds of thin layers.
                            .w-gap
                            .card__text This breakfast treat is ideally served with a fragrant coffee or tea, and it can be paired with jam or chocolate cream for extra indulgence. Croissants are the choice for those who appreciate classics, quality, and elegance. They transport everyone to the streets of Paris, where every morning begins with the aroma of freshly baked pastries.
                .card__wrap
                    .card__image
                        img(src="static/img/content/card3.jpg" alt="")
                    .card__wrapper
                        .card__text-wrap
                            .card__text-title Sushi – Japanese Art on a Plate
                            .card__text Sushi is a culinary art originating from Japan, known worldwide for its delicate flavors and minimalist appearance. Each piece of sushi is made from fresh fish, seafood, and rice seasoned with rice vinegar. An essential element is the balance of flavors achieved by combining fish, rice, and additional ingredients like wasabi and soy sauce.
                            .w-gap
                            .card__text Sushi is served with pickled ginger and wasabi, which enhance the flavor of each piece and cleanse the palate between different types. This dish is not only pleasing to the taste but also harmonious in appearance. Sushi embodies the taste of Japan in each carefully crafted piece, tempting you to try more.
                .card__wrap
                    .card__image
                        img(src="static/img/content/card4.jpg" alt="")
                    .card__wrapper
                        .card__text-wrap
                            .card__text-title Italian Pasta – Comfort in Every Bite
                            .card__text Italian pasta is one of the world’s most popular dishes, enchanting with its simple yet rich flavor. Classic pasta is made from high-quality wheat flour and water, and each type has its unique taste and texture. The most popular pasta types include spaghetti, penne, and fettuccine, each pairing perfectly with a variety of sauces: tomato-based, creamy, or cheese-based.
                            .w-gap
                            .card__text Pasta is often seasoned with aromatic herbs like basil and oregano and finished with fresh Parmesan cheese. This dish brings a sense of comfort and warmth, making it perfect for family dinners or festive gatherings. Italian pasta is a delight for the soul, allowing you to immerse yourself in the world of Italian culinary traditions.
        .w-gap-md
            #gallery.decorated-title.active Gallery
            +gallery
        .w-gap-md
            #about.decorated-title.active About Us
            .w-center
                .card
                    .card__wrap
                        .card__image.card__second-image
                            img(src="static/img/content/card5.jpg" alt="")
                        .card__wrapper.card__second-text
                            .card__text-wrap
                                .card__text-title We know and share secrets of cooking!
                                p.card__text We created our establishment out of a love for authentic food that combines tradition with modern culinary ideas. Our dishes are more than just food; they are stories we tell through flavors, aromas, and emotions. We believe that each dish should not only be delicious but also provide a special experience that lingers in memory.
                                p.card__text Our chefs select only the freshest ingredients to bring out the best in each component. We blend unique recipes from around the world and prepare them with care, crafting dishes that inspire. Our goal is to provide you with an unforgettable experience that sparks your appetite and leaves lasting memories.
                                p.card__text Join us on this journey of flavors and enjoyment! We look forward to making your lunch or dinner a truly special moment.
                .decorated-title.decorated-title-third Our team
                .image-cards
                    .image-cards__card
                        .image-cards__img
                            img(src="static/img/content/team1.jpg" alt="")
                        .image-cards__txt
                            p Jaylon Kenter
                    .image-cards__card
                        .image-cards__img
                            img(src="static/img/content/team2.jpg" alt="")
                        .image-cards__txt
                            p Leo Lubin
                    .image-cards__card
                        .image-cards__img
                            img(src="static/img/content/team3.jpg" alt="")
                        .image-cards__txt
                            p Jocelyn Stanton
                    .image-cards__card
                        .image-cards__img
                            img(src="static/img/content/team4.jpg" alt="")
                        .image-cards__txt
                            p Marcus Geidt

            .banner
                .banner__wrap
                    .decorated-title Get In Touch
                    .w-center
                        .decorated-subtitle No matter what you’re up to, cooking gives your life PERFECT TASTE! Stay in touch.
                        +form