extends _page-template

block content
    | <!-- skin 1 -->

    .w-inner.w-gap-sm
        .w-center
            h1.title.headline Legal information
            p By using our website, you agree to the next provisions:
            h3 Responsibility limitations
            p We review this website publications aimed at informing you about our company values, prices, and services, yet, we don’t guarantee our website meets your expectations. Some inaccuracies, typos and technical mistakes are possible.

            h3 Copyright
            p This website content legal status, website users’ rights and responsibilities fall under the copyright law of Hungary. You agree not to impact or facilitate influence aimed at affecting our intellectual property right and ownership. You agree to inform us in case of relevant suspicion regarding third parties involved.
            p You agree to refrain from and not to facilitate:
            p • this website and its elements’ duplication, modification, or damaging as well as use of software aimed at those purposes;
            p • this website data collecting or extracting via relevant software or in other way prohibited by our terms of use;
            p • this website content reproduction that may damage our intellectual property right and ownership.
            h3 Disclaimer and liability exclusion
            p In the case of indirect damage or expense we are not liable to you as far as this provision liability exclusion covers our employees, subcontractors, and other representatives to whom it may concern.
            p If you edit or publish an article, an additional cookie will be saved in your browser. This cookie includes no personal data and simply indicates the post ID of the article you just edited. It expires after 1 day.
            h3 Jurisdiction
            p This website is hosted in Hungary.
            p This agreement is made in Russian, Romanian and English languages. In case of any contradictions between different language versions, English one prevails as the official EU language.
            p This agreement execution is covered by the laws of Romania, so you agree that any dispute litigation arising from it takes place in that legal jurisdiction.
            h3 Contacting us
            p If you have any questions or concerns about these terms, please, contact us via e-mail address indicated on the website.