extends _page-template

block content
    | <!-- skin 1 -->

    .w-inner.w-gap-sm
        .w-center
            h1.title.headline Terms of Service
            p Access to and use of Easy-Cooking website and the products and service available through it are subject to the following terms, conditions and notices (“Terms of Service”). By browsing through these Terms of Service and using the services provided by our website, you agree to all Terms of Service along with the Privacy Policy on our website, which may be updated by us from time to time. Please check this page regularly to take notice of any changes we may have made to the Terms of Service.
            p We reserve the right to review and withdraw or amend the services without notice. We will not be liable if for any reason this website is unavailable at any time or for any period. From time to time, we may restrict access to some parts or this entire website.

            h3 Introduction
            p • This website is operated by a company incorporated under the laws of Hungary.

            h3 Services
            p • The company is an online retailer of digital education products offered at a great value to the consumer.

            p Additionally, we may provide you with information about other services, we consider similar to those that you are either already using, or have enquired about, or that may interest you or any combination thereof. Upon registering via the website, we may contact you by electronic means (i.e. either e-mail or telephone or any combination thereof) to inform about these services.

            h3 Third Party Websites and Content
            p • We take no responsibility of the third party’s websites and/or their contents listed on our website and disclaim all our liabilities arising out of any or all third party’s websites.
            p We disclaim all liabilities and take no responsibility for the content that may be posted on such third party websites by the users of such websites in their personal capacity on any of the above mentioned links for sharing and/or listing purposes as well as any content and/or comments that may be posted by such user in their personal capacity on any official webpage, or any social networking platform.

            h3 Privacy
            p • Our Privacy Policy incorporated by reference in these Terms of Service, sets out how we will use personal information you provide to us. By using this website, you agree to be bound by the Privacy Policy, and warrant that all data provided by you is accurate and up to date.

            h3 Pricing
            p • We ensure that all details of prices appearing on the website are accurate, however errors may occur. If we discover an error in the price of any service which you have ordered, we will inform you of this as soon as possible. If we are unable to contact you, we will treat the order as cancelled. If you have already paid for the service, you will receive a full refund. The services available on the website are intended for the end user consumption and not available for resale.

            p Additionally, prices for them may change from time to time without notice. However, these changes will not affect orders already received. Please note that the prices listed on the website are only applicable for services ordered through the website and not through any other source.

            h3 Intellectual Property Rights
            p • All and any intellectual property rights in connection with the products shall be owned absolutely by the Company.

            h3 Law and Jurisdiction
            p • These terms shall be governed by and constructed in accordance with the laws of Hungary and European Union without reference to conflict of laws principles. Disputes arising in relation hereto shall be subject to the jurisdiction of the courts of Hungary and European Union.
            p We abide by the laws of Hungary and European Union.

            h3 Indemnification
            p • You agree to indemnify, defend and hold harmless the Company, its directors, officers, employees, consultants, agents, and affiliates, from any and all third party claims, liability, damages or costs arising from your use of this website, your breach of these Terms of Service, or infringement of any intellectual property right.

            h3 Violation & Termination
            p • You agree that the Company may, in its sole discretion and without prior notice, terminate your access to the website and block your future access if we determine that you have violated these Terms of Service or any other policies. If you or the Company terminates your use of any service, you shall still be liable to pay for any service that you have already ordered till the time of such termination.

            h3 Disclaimer
            p • In no event will the company or its representatives be liable for any damages, arising out of or related to misuse of personal information of the customer, and the customer is solely liable for such acts, and they are advised not to share their confidential information like OTP, credit/debit card expiry and CVV with anyone even though they claim to be a company employee. None of our employee will ask for such confidential information.

            p If you have any questions, comments or requests regarding our Terms of Service or the website please contact us via contacts mentioned on the website.

            p Using our website, you are governed by all applicable terms, conditions, limitations, and requirements, all of which (as changed over time) are incorporated into these Terms. By continuing this website use, you accept these terms, conditions, limitations, and requirements.

            h3 Memberships
            p • We may sometimes offer trials or other promotional memberships to certain customers, which are subject to these Terms except as otherwise stated in the relevant promotional offers. These relevant conditions and the term/tenure for such promotional memberships may be different from the Terms.
            p • You may select the membership plan of your choice and you can change the membership plan at any time. The payment method(s) eligible to be used for different membership plans may vary, and the company reserves the sole right to determine the eligible payment methods for each of those.

            h3 Fees
            p • The fees for different educational terms, which are offered on the website, are non-refundable except as expressly set forth in these Terms. All applicable taxes are included in the fees.
            p • Your membership will automatically be cancelled after the period is completed and would not be auto-renewed. You will need to purchase the membership again to continue and enjoy the privileges of our educational programme member.
            p • By signing-up for our services, you confirm that you are a resident of European Union. You cannot use a credit or debit card issued outside countries of membership to pay any fee for the company.
            h3 Other Limitations
            p • We reserve the right to accept or refuse membership in our discretion.
            p • We may send you email and other communications related to your membership (regardless of any settings or preferences related to your account) in our educational programme.
            p • You may not transfer or assign your membership or any benefits, except as allowed in these Terms.
            p • Our educational programme members are not permitted to purchase educational products for the purpose of resale, or to use company benefits for their potential customers.
            h3 Termination by Us
            p • We may terminate your membership at our discretion without notice. If we do so, we will issue a credit note to you and give a prorated refund based on the remaining term of your membership. However, we will not give any refund for termination related to conduct that we determine, in our discretion, violating these Terms or any applicable law, including fraud or misuse of the membership, or the one being harmful to our interests or another user. Our failure to insist upon or enforce your strict compliance with these Terms will not constitute a waiver of any of our rights.

            h3 Limitation of Liability
            p • In addition to other limitations and exclusions mentioned, in no event will we or our directors, officers, employees, agents or other representatives be liable for any direct, indirect, special, incidental, consequential, or punitive damages, or any other damages of any kind, arising of or related to the company. Our total liability, whether in contract, warranty, tort (including negligence) or otherwise, will not exceed the last membership fee you paid.