mixin form()
    .form
        .form__wrap
            form.form__form(enctype="multipart/form-data" action="" method="post" id="form" onsubmit="send(event, 'send.php')")
                .form__group
                    input.form__control(type="text" name="name" id="name" placeholder="Name" required)
                .form__group
                    input.form__control(type="text" name="email" id="email" placeholder="Email" required)
                .form__group
                    input.form__control(type="text" name="phone" id="phone" placeholder="Phone Number" required)
                .form__group.form__btn-wrap
                    button.btn(type="submit") Subscribe
