mixin videobox()
    .videobox
        .videobox__wrap
            .videobox__video-box
                .videobox__video
                    video(controls="controls" autoplay muted loop)
                        source(src="static/img/content/2.mp4")
                .videobox__text
                    .videobox__text-title Cooking Basics Master
                    .videobox__text-subtitle Develop essential skills in culinary arts while cooking with well-known kitchen masters in real-time. Enjoy the best practices of elegant and tasty meals creation and prepare the most popular restaurant dishes at home.
            .videobox__video-box
                .videobox__video
                    video(controls="controls" autoplay muted loop)
                        source(src="static/img/content/3.mp4")
                .videobox__text
                    .videobox__text-title Sous-chef in Culinary Arts
                    .videobox__text-subtitle The duties of a sous chef include coordinating and organizing the correct work of cooks and kitchen workers. Learn the basics of grocery shopping, pre-serving food checks, and developing menus and new recipes.
            .videobox__video-box
                .videobox__video
                    video(controls="controls" autoplay muted loop)
                        source(src="static/img/content/1.mp4")
                .videobox__text
                    .videobox__text-title Pastry and Chocolate Arts Master
                    .videobox__text-subtitle NGain the unique technologies of the world's confectioners without leaving your home, master the unshakable laws of physics and chemistry of ingredients, and life hacks of professionals in the sweet business.