mixin videobox()
    .videobox
        .videobox__wrap
            .videobox__video-box
                .videobox__video
                    video(controls="controls" autoplay muted loop)
                        source(src="static/img/content/2.mp4")
                .videobox__text
                    .videobox__text-title Spaghetti
                    .videobox__text-subtitle “Two people carefully remove freshly cooked spaghetti from the pot, preparing it for serving. Perfectly cooked, golden strands of pasta are ready to be topped with sauce and plated. This video captures the process of creating an authentic Italian dish with a focus on quality and attention to detail.”
            .videobox__video-box
                .videobox__video
                    video(controls="controls" autoplay muted loop)
                        source(src="static/img/content/3.mp4")
                .videobox__text
                    .videobox__text-title Mastery in Every Detail
                    .videobox__text-subtitle “Two people carefully decorate a pie with strips of dough, creating an elegant lattice design. The delicate artistry adds a beautiful finishing touch to the dessert, showcasing attention to detail and craftsmanship. Watch as these skilled hands transform simple ingredients into a stunning visual masterpiece, ready for the table.”
            .videobox__video-box
                .videobox__video
                    video(controls="controls" autoplay muted loop)
                        source(src="static/img/content/1.mp4")
                .videobox__text
                    .videobox__text-title Art of Presentation
                    .videobox__text-subtitle Watch as a stunning dish comes to life in the hands of a skilled chef. This video showcases the delicate process of plating and presenting a beautiful creation, highlighting the art of food presentation. Every detail is carefully considered to ensure the dish is not only delicious but also visually captivating, ready to impress any guest.