mixin popup(formType)
    .popup
        .popup__wrap
            span.js-close.form__close.popup__close
            .decorated-title.decorated-title-third Get  In Touch
            .decorated-subtitle No matter what you’re up to, cooking gives your life PERFECT TASTE! Stay in touch.
            +form
